<%- include('header') %>
<!-- Hero Section -->
<section class="hero-section-guide center-align">
  <div class="hero-content">
    <h4>Roasted. Brewed. Restocked, updated.</h4>
    <h1>LaceVista X Classics</h1>
    </div>
  </div>
</section>

<!-- Shoe Cards Section -->
<section class="container guide-section">
  <div class="row">
    <!-- Sneakers -->
    <div class="col s12 m6 l3">
      <div class="card">
        <div class="card-image waves-effect waves-block waves-light">
          <img src="/images/sneakers.jpg" alt="Sneakers" class="activator" />
        </div>
        <div class="card-content center-align">
          <h6 class="truncate">Sneakers</h6>
          <a class="waves-effect waves-light btn modal-trigger" href="#modal1">
            <i class="material-icons left">search</i>Check This Out
          </a>
        </div>
      </div>
    </div>

    <!-- Heels -->
    <div class="col s12 m6 l3">
      <div class="card">
        <div class="card-image waves-effect waves-block waves-light">
          <img src="/images/heels.jpg" alt="Heels" class="activator" />
        </div>
        <div class="card-content center-align">
          <h6 class="truncate">Heels</h6>
          <a class="waves-effect waves-light btn modal-trigger" href="#modal2">
            <i class="material-icons left">search</i>Check This Out
          </a>
        </div>
      </div>
    </div>

    <!-- Boots -->
    <div class="col s12 m6 l3">
      <div class="card">
        <div class="card-image waves-effect waves-block waves-light">
          <img src="/images/boots.jpg" alt="Boots" class="activator" />
        </div>
        <div class="card-content center-align">
          <h6 class="truncate">Boots</h6>
          <a class="waves-effect waves-light btn modal-trigger" href="#modal3">
            <i class="material-icons left">search</i>Check This Out
          </a>
        </div>
      </div>
    </div>

    <!-- Loafers -->
    <div class="col s12 m6 l3">
      <div class="card">
        <div class="card-image waves-effect waves-block waves-light">
          <img src="/images/loafer.jpg" alt="Loafers" class="activator" />
        </div>
        <div class="card-content center-align">
          <h6 class="truncate">Loafers</h6>
          <a class="waves-effect waves-light btn modal-trigger" href="#modal4">
            <i class="material-icons left">search</i>Check This Out
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
<%- include('footer') %>