<%- include('header') %>
<!-- Hero Section -->
<section class="hero-section-guide center-align">
  <div class="hero-content">
    <h4>Roasted. Brewed. Restocked, updated.</h4>
    <h1>LaceVista X Classics</h1>
    </div>
  </div>
</section>
<%- include('footer') %>